svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#square {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: draw-square 2s infinite;
  transform-origin: center; // to move the centre of rotation from top-left corner to the centre of the shape
}

@keyframes draw-square {
  from {
    stroke-dashoffset: -200;
    transform: rotate(0deg);
    transform-origin: center; // to move the centre of rotation from top-left corner to the centre of the shape
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}

#hexagon {
  stroke-dasharray: 150;
  stroke-dashoffset: -150;
  animation: draw-hexagono 1.5s infinite reverse;
  transform-origin: center; // to move the centre of rotation from top-left corner to the centre of the shape
}

@keyframes draw-hexagono {
  from {
    stroke-dashoffset: -150;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}